@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{

}

body{
  margin:0;


}

.menu {
  background-color: #333;
  overflow: hidden;
}


.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 100px;
}


.menu a:hover {
  background-color: #fbff00;
  color: black;
}


.menu a.active {
  background-color: #fbff00;
  color: black;
}


.menu .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.menu  img{
  height: 100px;
  width: 80px;
  float: left;
  margin-left: 40px;
}


 .titulo{
  text-align: center;
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.anuncio {
	width: 90%;
	max-width: 1240px;
	margin:auto;
	display: grid;	
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
 
			
  }
		  
 @media only screen and (min-width: 500px) {
	.anuncio {
       grid-template-columns: 1fr 1fr;
		}  
	}
		  
@media only screen and (min-width: 850px) {
	.anuncio {
		  grid-template-columns: 1fr 1fr 1fr 1fr;
      	}
    }
		  
.anuncio{
	margin: 20px;
	margin-left: 5rem;
}

footer{
  position: absolute;
	background: #dddee1;
	padding: 5vh 0;
	margin-top: 10rem;
	text-align: center;
	position: relative;
	font-size: 1rem;

}
footer img{
  float: left;
  margin: 5px;
}